{% extends 'base.html' %}
{% load static %}

{% block content %}
    <a href="{% url 'main:index' %}">
        <img src="{% static 'img/cancel.png' %}" alt="cancel" class="cancel">
    </a>

    <div class="forms">
        <h1>Create a new task</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    {{ field }}
                    <label>{{ field.label }}</label>
                </div>
            {% endfor %}

            <button type="submit">Create</button>
        </form>
    </div>
{% endblock %}
