{% extends 'base.html' %}

{% block content %}
    <div class="authorization">
        <h1>Sign up</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    {{ field }}
                    <label>{{ field.label }}</label>
                </div>
                
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            {% endfor %}

            <button type="submit">Sign up</button>
            <h2>Have an account? <a href="{% url 'users:login' %}">Log in</a></h2>
        </form>
    </div>
{% endblock content %}
